#root {
  width: fit-content;
  margin: 0px auto;
}
.game-field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}
.game-field button {
  max-width: 50px;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 30px;
  cursor: pointer;
}
.game-field button.matched {
  background-color: #f7e7dc;
}
.message {
  display: flex;
  justify-content: space-between;
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
  border: 1px solid
    light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}
.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
